In [5]:
import pandas as pd
df1 = pd.read_csv('Step_4_final_formated_70_3_averages_no_outliers.csv')
df2 = pd.read_csv('Step_9_70.3_Ironman_with_Water_temp_estimation.csv')

In [6]:
df1['Location'] = df1['Location'].str.strip()
df1['Date'] = df1['Date'].str.strip()
df2['Location'] = df2['Location'].str.strip()
df2['Date'] = df2['Date'].str.strip()

# List of columns to fill in df1 from df2 (excluding columns already present in df1)
columns_to_fill = [
    'longitude', 'latitude', 'location elevation', 'bike elevation', 'run elevation',
    'max_temperature', 'temperature_10AM', 'min_temperature', 'relative_humidity',
    'average_wind_speed', 'average_pressure', 'cloud_coverage', 'water_temperature',
    'solar_radiation', 'WBGT'
]

# Merge df1 with df2 on Location and Date
df1_filled = df1.merge(
    df2[['Location', 'Date'] + columns_to_fill],
    on=['Location', 'Date'],
    how='left',
    suffixes=('', '_df2')
)

# Fill missing values in df1 with values from df2
for col in columns_to_fill:
    df1_filled[col] = df1_filled[col].combine_first(df1_filled[f"{col}_df2"])
    df1_filled.drop(columns=[f"{col}_df2"], inplace=True)

In [7]:
df1_filled.head()

,Location,longitude,latitude,Date,Division,Swim,Bike,Run,Time,location elevation,...,max_temperature,temperature_10AM,min_temperature,relative_humidity,average_wind_speed,average_pressure,cloud_coverage,water_temperature,solar_radiation,WBGT
0,"Acapulco, Mexico",-99.894018,16.86805,5/23/2021,F18,1919.047619,10608.45455,7400.772727,20335.04545,53.0,...,35.8,32.7,17.5,61.583333,6.6,1010.8,14.708333,30.0,828.878287,38.299322
1,"Acapulco, Mexico",-99.894018,16.86805,5/23/2021,F25,2196.720000,11731.14815,7971.037037,22464.51852,53.0,...,35.8,32.7,17.5,61.583333,6.6,1010.8,14.708333,30.0,828.878287,38.299322
2,"Acapulco, Mexico",-99.894018,16.86805,5/23/2021,F30,2285.566667,11510.66667,7689.900000,22052.93333,53.0,...,35.8,32.7,17.5,61.583333,6.6,1010.8,14.708333,30.0,828.878287,38.299322
3,"Acapulco, Mexico",-99.894018,16.86805,5/23/2021,F35,2383.416667,11623.25000,7320.318182,21866.12500,53.0,...,35.8,32.7,17.5,61.583333,6.6,1010.8,14.708333,30.0,828.878287,38.299322
4,"Acapulco, Mexico",-99.894018,16.86805,5/23/2021,F40,2404.636364,11068.03226,7549.575758,21389.25806,53.0,...,35.8,32.7,17.5,61.583333,6.6,1010.8,14.708333,30.0,828.878287,38.299322

In [8]:
df1_filled.to_csv('Step_10_70_3_ironman.csv', index=False)